---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h3>Bio</h3>
  <p>
    I'm a Ph.D. student in the <a href="https://research.design.ncsu.edu/betlab/">Building Energy Technology Laboratory (BETlab)</a>
    within the <a href="https://design.ncsu.edu/phd-in-design/">Ph.D. in Design Program</a>
    at <a href="https://www.ncsu.edu/">North Carolina State University (NC STATE)</a>. I also serve as the president of the NC STATE Chapter of the American Society of Heating, Refrigerating, and Air-Conditioning Engineers (ASHRAE).
    Additionally, I am a Fellow in the <a href="https://climateleaders.kenan.ncsu.edu/teams/2024-student-mentor-teams/">KIETS Climate Leaders Program</a>, where I contribute to interdisciplinary leadership teams focused on developing solutions that mitigate and adapt to the challenges of climate change.
    I am fortunate to be advised by 
    <a href="https://design.ncsu.edu/people/scho3/">Dr. Soolyeon Cho</a>.
    I am also the Principal Investigator (PI) of a research project supported by the Next-Generation Science & Technology (S&T) Leaders NET, Korean Federation of Science & Technology Societies (KOFST).
    This project focuses on a synthetic study of the energy potential of solar power systems at the community level, utilizing AI and spatiotemporal data.
  </p>
</div>
<!--
    Check my CV <a href="{{ site.baseurl }}/assets/cv/cv_web.pdf">here</a>.
  </p>
  <p>
    I am interested in physical, cultural, and institutional spaces within cities and 
    my current research interests are in the ethical discussions about AI applications in urban 
    planning, especially in the era of climate change. I'm doing theoretical and empirical work on renewable energy transition, 
    infrastructure planning, climate change impact, and artificial intelligence as well as developing tools to 
    assist cities in making climate and energy related decisions. 
  </p>
</div>
-->

<span class="anchor" id="news"></span>
<div class="docs-section">
  <h3>News</h3>
  <i> * Scroll for more </i>
  <UL style="list-style-type: none; padding: 1px; margin-top: 0px; overflow-y: scroll; height:160px;">
    <li><b>[08/19/24]</b> I am serving as the President of the ASHRAE Student Branch at NC State.</li>
    <li><b>[05/28/24]</b> Excited to be selected as the Next-Generation Science & Technology (S&T) Leaders NET at Korean Federation of Science & Technology Societies (KOFST).</li>
    <li><b>[05/21/24]</b> Excited to be starting a summer internship with the Building Technology & Urban Systems (BTUS) Division at Lawrence Berkeley National Laboratory (LBNL).</li>
    <li><b>[12/18/23]</b> Excited to be selected as the 2024 KIETS Climate Leaders Program Fellow </a href="https://climateleaders.kenan.ncsu.edu/teams/2024-student-mentor-teams/">.</li>
    <li><b>[07/03/23]</b> I was selected as a recipient of one of the 2023 FAEE Scholarships from the Foundation of the Association of Energy Engineers (AEE).</li>
    <li><b>[05/11/22]</b> I was awarded the University Graduate Fellowship for the 2022-23 academic year, which recognizes outstanding entering doctoral students at NC STATE.</li>
    <li><b>[03/18/22]</b> I was awarded the Annual Best Paper Award by the Korean Institute of Architectural Sustainable Environment and Building Systems (KIAEBS).</li>
    <li><b>[03/19/21]</b> I was awarded the Annual Best Paper Award by the Korean Institute of Architectural Sustainable Environment and Building Systems (KIAEBS).</li>
    <li><b>[04/24/20]</b> I was awarded Outstanding Master’s Thesis Award by the Architectural Institute of Korea (AIK).</li>
    <li><b>[04/26/19]</b> I was awarded the Annual Best Paper Award by the Architectural Institute of Korea (AIK).</li>
  </UL>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h3>Publications</h3>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== PROJECTS ========== 
<div class="docs-section" id="projects">
  <h3>Projects</h3>-->

<!-- <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul> 

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">-->
     <!--  {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div> -->

   <!-- <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>-->

<!-- ========== TEACHING ========== 

   RE 519 - Real Estate Data Analytics and Visualization, University of Washington - <a href={{ "/real-estate-data-analytics-and-visualization/" | prepend: site.baseurl }} >Autumn 2024</a> <br/>
  URBDP 598 - Ph.D. Colloquium, University of Washington - <a href={{ "/real-estate-data-analytics-and-visualization/" | prepend: site.baseurl }} >Autumn 2024</a>
-->
<!--<div class="docs-section" id="teaching">
  <h3>Teaching</h3>
 
  <p> 
    I'm organizing Ph.D. colloquium as well as advising UW solar and some student teams. 
    My previous coursework plans are a combination of urban planning, public policy, climate change, energy,
    data science, and AI + society at the University of Washington. Please check my 
    <a href="{{ site.baseurl }}/pages/courseworks">coursework list here</a> to get some inspirations. 
    You can refer to the <a href="https://uil.be.uw.edu/education/">programs and courses recommended 
    by the Urban Infrastructure Lab</a>. Hope this information is helpful to you.
  </p>

</div>
-->


 <!--========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h3>RESUME</h3>

  <!--<p>Full Curriculum Vitae in <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>-->
  
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>



<div class="docs-section" id="template">
    <h3>Acknowledgement</h3>
    This website was built with <a href="https://jekyllrb.com">jekyll</a> and uses the website design and template by <a href="https://web.stanford.edu/~msaveski/">Prof. Martin Saveski</a> at UW.
  </div>
