---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio" style="text-align: justify;">
  <h3>Bio</h3>
  <p>
    I am a Ph.D. student in the <a href="https://research.design.ncsu.edu/betlab/">Building Energy Technology Laboratory (BETlab)</a> within <a href="https://design.ncsu.edu/phd-in-design/">the Ph.D. in Design Program</a> at <a href="https://www.ncsu.edu/">North Carolina State University (NC STATE)</a>, advised by <a href="https://design.ncsu.edu/people/scho3/">Dr. Soolyeon Cho</a>. 
    I served as the 2024–2025 President of the NC STATE Chapter of the American Society of Heating, Refrigerating, and Air-Conditioning Engineers (ASHRAE).
    I was a Fellow in both the <a href="https://climateleaders.kenan.ncsu.edu/teams/2024-student-mentor-teams/">2024 KIETS Climate Leaders Program</a> and <a href="https://sustainability.ncsu.edu/blog/2025/01/24/first-cohort-of-sustainable-futures-fellows-announced/">2025 Sustainable Futures Fellows</a>, contributing to interdisciplinary leadership teams that develop solutions to mitigate and adapt to climate change. 
    I am also the Principal Investigator (PI) of the 2024–2025 Next-Generation Science & Technology (S&T) Leaders NET project, supported by the Korean Federation of Science and Technology Societies (KOFST).
  </p>
  <p>
    Outside of NC STATE, in the summer of 2025, I started a Ph.D. internship with the Electricity Infrastructure & Buildings Research Division at Pacific Northwest National Laboratory (PNNL) under the mentorship of <a href="https://energyenvironment.pnnl.gov/staff/staff_info.asp?staff_num=1996">Dr. Michael Poplawski</a>. 
    There, I developed a Differentiable Predictive Control (DPC) framework for coordinated, occupancy-based supervisory control of lighting and HVAC systems, leveraging the Scientific Machine Learning library <a href="https://github.com/pnnl/neuromancer/tree/master">Neuromancer</a>. 
    In the summer of 2024, I also interned with the Building Technology & Urban Systems (BTUS) Division at Lawrence Berkeley National Laboratory (LBNL) under the mentorship of <a href="https://www.lbl.gov/2024/06/12/meet-the-2024-summer-interns-building-technology-urban-systems-division/">Dr. Donghun Kim</a>, 
    where I developed an AI-powered assistant leveraging Large Language Models (LLMs) to accelerate the deployment of low-cost Model Predictive Control (MPC) technology for Grid-Interactive Efficient Buildings (GEBs).
  </p>
  <p>
    I am deeply interested in implementing microgrids at the community-level using grid-edge resources such as Grid-Interactive Efficient Buildings (GEBs) and Electric Vehicles (EVs).
    My research focuses on developing Multi Agent Reinforcement Learning (MARL) technology for building Heating, Ventilation, and Air-Conditioning (HVAC) systems by incorporating Distributed Energy Resources (DERs) such as Thermal Energy Storage (TES), Battery Energy Storage Systems (BESS), Vehicle-to-Building (V2B), and Building Envelope as Virtual Batteries.
    This approach aims to enhance the energy flexibility of buildings, reducing peak loads. Also, I aim to develop technologies that support right-sizing decisions for DERs at the community level and improve resiliency, facilitating the implementation of microgrids within communities.
  </p>
</div>
<!--
    Check my CV <a href="{{ site.baseurl }}/assets/cv/cv_web.pdf">here</a>.
    Check my CV <a href="{{ site.baseurl }}/assets/cv/2025_CV_JUWANHA.pdf">here</a>.
  </p>
  <p>
 -->   

<span class="anchor" id="news"></span>
<div class="docs-section">
  <h3>News</h3>
  <i> * Scroll for more </i>
  <UL style="list-style-type: none; padding: 1px; margin-top: 0px; overflow-y: scroll; height:160px;">
    <li><b>[08/08/25]</b> Excited to be selected as the 2025 KSCEA Student of the Year, in recognition of my outstanding scholarly contributions to the field of civil, environmental, and architectural engineering.
    </li>
    <li><b>[06/17/25]</b> Excited to be starting a Energy and Environment Internship Program (EEIP) PhD internship with the Electricity Infrastructure & Buildings Research at Pacific NorthWest National Laboratory (PNNL).</li>
    <li><b>[06/02/25]</b> Awarded the Ph.D. in Design Travel Scholarship, College of Design, North Carolina State University.
    </li>
    <li><b>[06/01/25]</b> Awarded the 2025 Travel Grant from the Korean-American Society of Civil, Environmental, and Architectural Engineers (KSCEA).
    </li>
    <li><b>[05/13/25]</b> Excited to be selected as the Next-Generation Science & Technology (S&T) Leaders NET at Korean Federation of Science & Technology Societies (KOFST).
    </li>
        <li><b>[05/02/25]</b> Awarded the 2025-2026 ASHRAE Graduate Student Grant-in-Aid as one of 20 exemplary graduate students worldwide selected for outstanding research in ASHRAE related technologies.
      <a href="https://design.ncsu.edu/phd-in-design/2025/05/14/juwan-ha-selected-as-recipient-of-2025-2026-ashrae-graduate-student-award/">[Link]</a>
      <a href="https://triangleashrae.com/news.php/">[Link]</a>
    </li>
    </li>
        <li><b>[04/10/25]</b> I serve as a Task Force member for the International Energy Agency – Energy in Buildings and Communities Programme (IEA-EBC) Annex 96: Grid-Integrated Control of Buildings.
    </li>
    <li><b>[12/18/24]</b> Excited to be selected as the 2025 Sustainable Futures Fellows.
      <a href="https://sustainability.ncsu.edu/blog/2025/01/24/first-cohort-of-sustainable-futures-fellows-announced/">[Link]</a>
    </li>
    <li><b>[11/07/24]</b> Awarded the 2025 ASHRAE Student Activities Travel Grant for the Winter Conference in Orlando, FL, as one of five nationally selected student leaders and a Rising Star.
      <a href="https://triangleashrae.com/news.php">[Link]</a>
    </li>
    <li><b>[08/19/24]</b> I am serving as the President of the ASHRAE Student Branch at NC State.</li>
    <li><b>[05/28/24]</b> Excited to be selected as the Next-Generation Science & Technology (S&T) Leaders NET at Korean Federation of Science & Technology Societies (KOFST).</li>
    <li><b>[05/21/24]</b> Excited to be starting a summer internship with the Building Technology & Urban Systems (BTUS) Division at Lawrence Berkeley National Laboratory (LBNL).</li>
    <li><b>[12/18/23]</b> Excited to be selected as the 2024 KIETS Climate Leaders Program Fellow 
      <a href="https://climateleaders.kenan.ncsu.edu/teams/2024-student-mentor-teams/">[Link]</a>
    </li>
    <li><b>[07/03/23]</b> I was selected as a recipient of one of the 2023 FAEE Scholarships from the Foundation of the Association of Energy Engineers (AEE).</li>
    <li><b>[05/11/22]</b> I was awarded the University Graduate Fellowship for the 2022-23 academic year, which recognizes outstanding entering doctoral students at NC STATE.</li>
    <li><b>[03/18/22]</b> I was awarded the Annual Best Paper Award by the Korean Institute of Architectural Sustainable Environment and Building Systems (KIAEBS).</li>
    <li><b>[03/19/21]</b> I was awarded the Annual Best Paper Award by the Korean Institute of Architectural Sustainable Environment and Building Systems (KIAEBS).</li>
    <li><b>[11/20/20]</b> I was awarded Best Paper Award of Fall Conference by the Korean Institute of Architectural Sustainable Environment and Building Systems (KIAEBS).</li>
    <li><b>[11/10/20]</b> I was awarded Young Pioneer Researcher Award by Gyeongsang National University.</li>
    <li><b>[04/24/20]</b> I was awarded Outstanding Master’s Thesis Award by the Architectural Institute of Korea (AIK).</li>
    <li><b>[05/16/19]</b> I was awarded Young Pioneer Researcher Award by Gyeongsang National University.</li>
    <li><b>[04/26/19]</b> I was awarded the Annual Best Paper Award by the Architectural Institute of Korea (AIK).</li>
  </UL>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h3>Publications</h3>

  <p>Most recent publications on <a href="https://scholar.google.com/citations?user=OKbm5IMAAAAJ&hl=en" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>
</div>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== PROJECTS ========== -->
<!--<div class="docs-section" id="projects">
  <h3>Projects</h3>
  <p><a href="{{https://sites.google.com/gnu.ac.kr/juwanha/research?authuser=0}}" target="_blank">Selcted project lists</a>.<br/>
    </p>-->
    <!--
<ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul> -->
<!--
  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div> -->

   <!-- <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>-->

<!-- ========== TEACHING ========== 

   RE 519 - Real Estate Data Analytics and Visualization, University of Washington - <a href={{ "/real-estate-data-analytics-and-visualization/" | prepend: site.baseurl }} >Autumn 2024</a> <br/>
  URBDP 598 - Ph.D. Colloquium, University of Washington - <a href={{ "/real-estate-data-analytics-and-visualization/" | prepend: site.baseurl }} >Autumn 2024</a>
-->
<!--<div class="docs-section" id="teaching">
  <h3>Teaching</h3>
 
  <p> 
    I'm organizing Ph.D. colloquium as well as advising UW solar and some student teams. 
    My previous coursework plans are a combination of urban planning, public policy, climate change, energy,
    data science, and AI + society at the University of Washington. Please check my 
    <a href="{{ site.baseurl }}/pages/courseworks">coursework list here</a> to get some inspirations. 
    You can refer to the <a href="https://uil.be.uw.edu/education/">programs and courses recommended 
    by the Urban Infrastructure Lab</a>. Hope this information is helpful to you.
  </p>

</div>
-->


 <!--========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h3>RESUME</h3>

  <p>Full Curriculum Vitae in <a href={{ "/assets/cv/2025_CV_JUWANHA.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>
  
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>



<div class="docs-section" id="template">
    <h3>Acknowledgement</h3>
    This website was built with <a href="https://jekyllrb.com">jekyll</a> and uses the website design and template by <a href="https://web.stanford.edu/~msaveski/">Prof. Martin Saveski</a> at UW.
  </div>
